<form asp-controller="Cars" asp-action="Create" method="post">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between mb-2">
                    <p>Brand:</p>
                    <input type="text" id="Brand" name="brand" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Model:</p>
                    <input type="text" id="Model" name="model" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Color:</p>
                    <input type="text" id="Color" name="color" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Odometer:</p>
                    <input type="text" id="Kilometers_Driven" name="odometer" />
                </div>

                <div class="d-flex justify-content-between mb-2">
                    <p>License plate:</p>
                    <input type="text"  name="license plate" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Vin:</p>
                    <input type="text" id="Vin" name="vin" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Condition:</p>
                    <input type="text" id="Condition" name="condition" />
                </div>
            </div>
            <div class="col gap-2">
                <div class="d-flex justify-content-between mb-2">
                    <p>Type:</p>
                    <input type="text" id="Type" name="type" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Year:</p>
                    <input type="text" id="Year" name="year" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Fuel type:</p>
                    <input type="text" id="FuelType" name="fuel type" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Top speed:</p>
                    <input type="text" id="Top_Speed" name="top speed" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Image link:</p>
                    <input type="text" id="Image" name="image" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Price:</p>
                    <input type="text" id="Price" name="price" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Description:</p>
                </div>
            </div>
        </div>

    </div>

    <button type="submit"> Opret bil </button>
</form>
