<form asp-controller="Cars" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between mb-2">
                    <p>Mærke:</p>
                    <input required type="text" id="Brand" name="Brand" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Model:</p>
                    <input required type="text" id="Model" name="Model" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Farve:</p>
                    <input required type="text" id="Color" name="Color" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Kilometer kørt:</p>
                    <input required type="text" id="Kilometers_Driven" name="Kilometers_Driven" />
                </div>

                <div class="d-flex justify-content-between mb-2">
                    <p>Nummerplade:</p>
                    <input required type="text" id="License_Plate" name="License_Plate" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Stelnummer:</p>
                    <input required type="text" id="Vin" name="Vin" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Tilstand:</p>
                    <select required id="Condition" name="Condition">
                        <option>Perfekt</option>
                        <option>Fremragende</option>
                        <option>God</option>
                        <option>Dårlig</option>
                        <option>Forfærdelig</option>
                    </select>
                </div>
            </div>
            <div class="col gap-2">
                <div class="d-flex justify-content-between mb-2">
                    <p>Type:</p>
                    <input required type="text" id="Type" name="Type" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>År:</p>
                    <input required type="text" id="Year" name="Year" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Benzintype:</p>
                    <select required id="Fuel_Type" name="Fuel_Type">
                        <option>Benzin</option>
                        <option>Diesel</option>
                        <option>El</option>
                        <option>Benzin Hybrid</option>
                        <option>Diesel Hybrid</option>
                    </select>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Topfart:</p>
                    <input required type="text" id="Top_Speed" name="Top_Speed" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Indsæt billede:</p>
                    <input required type="file" id="ImageFile" name="ImageFile" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Pris:</p>
                    <input required type="text" id="Price" name="Price" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Beskrivelse:</p>
                    <input required type="text" id="Description" name="Description" />
                </div>
            </div>
        </div>

    </div>

    <button type="submit"> Opret bil </button>
</form>
