<form asp-controller="Cars" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between mb-2">
                    <p>Brand:</p>
                    <input type="text" id="Brand" name="Brand" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Model:</p>
                    <input type="text" id="Model" name="Model" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Color:</p>
                    <input type="text" id="Color" name="Color" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Odometer:</p>
                    <input type="text" id="Kilometers_Driven" name="Kilometers_Driven" />
                </div>

                <div class="d-flex justify-content-between mb-2">
                    <p>License plate:</p>
                    <input type="text" id="License_Plate" name="License_Plate" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Vin:</p>
                    <input type="text" id="Vin" name="Vin" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Condition:</p>
                    <input type="text" id="Condition" name="Condition" />
                </div>
            </div>
            <div class="col gap-2">
                <div class="d-flex justify-content-between mb-2">
                    <p>Type:</p>
                    <input type="text" id="Type" name="Type" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Year:</p>
                    <input type="text" id="Year" name="Year" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Fuel type:</p>
                    <input type="text" id="Fuel_Type" name="Fuel_Type" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Top speed:</p>
                    <input type="text" id="Top_Speed" name="Top_Speed" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Image link:</p>
                    <input type="file" id="ImageFile" name="ImageFile" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Price:</p>
                    <input type="text" id="Price" name="Price" />
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>Description:</p>
                    <input type="text" id="Description" name="Description" />
                </div>
            </div>
        </div>

    </div>

    <button type="submit"> Opret bil </button>
</form>
