

@{
    ViewData["Title"] = "Vores biler";
    Console.WriteLine(ViewData["cars"]);
}


<div class="d-flex justify-content-between">
    <h3>
        Vælg bil
    </h3>
    <form border-dark">
        <div>
            <input type="text" name="query" placeholder="Søg efter bil..." class="border-0"/>
        </div>
    </form>
</div>

<div class="container mt-5">
    <div class="row">
        @foreach (var car in ViewData["cars"] as List<Car>) {
            
            <div class="col-sm style="width: 100px; height: 200px;">
                <a asp-action="CarDetails" asp-route-vin="@car.Vin" asp-controller="Cars">
                    @if (car.Image != null && car.Image.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(car.Image)" style="display: block; height: 250px; width: 300px" />
                    }
                    else
                    {
                        <img src="" style="display: block; height: 250px; width: 300px"></img>
                    }
                </a>
                <p>
                    @car.getName()
                </p>
            </div>
        }

    </div>
</div>