

@{
    ViewData["Title"] = "Vores biler";
    Console.WriteLine(ViewData["cars"]);
}



<div class="d-flex justify-content-between">
    <h3>
        Vælg bil
    </h3>
    <form border-dark">
        <div style="border: 2px solid black; border-radius: 10px;">
            <input type="text" name="query" placeholder="Søg efter bil..." class="border-0"/>
        </div>
    </form>
</div>

<div class="container mt-5">
    <div class="row">
        @foreach (var car in ViewData["cars"] as List<Car>) {
            
            <div class="col-sm style="width: 100px; height: 200px;">
                <a asp-action="CarDetails" asp-route-vin="@car.Vin" asp-controller="Cars">
                    <img src="@car.Image" style="display: block; height: 250px; width: 300px" />
                </a>
            </div>
        }

    </div>
</div>